@use '../global/index' as *;
@use 'include-media/dist/_include-media' as *;


.c_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.c_btn_item {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  padding: 10px;
  height: fit-content;
  @include transition((background-color, color));

  &.is-active {
    background-color: #fff;
    color: #000;
  }
}
