// =========================================================
// Colors
// =========================================================
$main-color: #316aed;
$main-text-color: #4268cf;
$gray: #d6dde0;
$lgray: #ededed;
$black: #000;
$white: #fff;
$error: #ed313b;
