---
import Layout from "@layouts/Layout.astro";
---

<Layout pageId="t05">
  <div id="webgl"></div>
  <h2 class="c_subttl">WebGL API</h2>
  <script>
    import "../../ts/t05.ts";
  </script>
</Layout>
