<div class="c_modal">
  <div class="c_modal_wrap">
    <div class="c_modal_mask"></div>
    <div class="c_modal_contents">
      <div class="c_modal_yt">
        <iframe
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          title="YouTube video player"></iframe>
      </div>
    </div>
  </div>
</div>
