@use '../global/index' as *;
@use 'include-media/dist/_include-media' as *;

.p_top {
  background-color: #000;
  color: #fff;
  height: 100%;

  ul {
    display: flex;
    row-gap: 1em;
    flex-wrap: wrap;

    li {
      width: 25%;

      a {
        font-size: 40px;
        color: #000;
        filter: invert(1);
        font-weight: 700;
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 0.25em;
      }

    }
  }
}

.p_top_wrap {
  width: pc(1000);
  margin: auto;
  padding: pc(50);

  h1 {
    font-size: pc(50);
    font-weight: 700;
    padding-bottom: pc(100);
  }
}
