---
import Layout from "@layouts/Layout.astro";
import IndexLink from "@components/modules/IndexLink.astro";

const pages = ["t01", "t02", "t03", "t04", "t04_2", "t04_3","t05","t05_2",'t06'];
---

<Layout pageId="top">
  <div class="p_top">
    <div class="p_top_wrap">
      <h1>WebGL School Task</h1>
      <ul>
        {
          pages.map((page) => {
            return <IndexLink id={page} />;
          })
        }
      </ul>
    </div>
  </div>
</Layout>
