---
import Layout from '@layouts/Layout.astro';
---

<Layout pageId="top">
  <div class="p_top">
    <div class="p_top_wrap">
      <h1>WebGL School Task</h1>
      <ul>
        <li><a href="/webgl-school-task/01/">Task 01</a></li>
        <li><a href="/webgl-school-task/02/">Task 02</a></li>
      </ul>
    </div>
  </div>
</Layout>
