---
import Layout from '@layouts/Layout.astro';
---

<Layout pageId="t01">
  <div id="webgl"></div>
  <div class="c_btn">
    <button id="rotaion" class="c_btn_item">Rotaion</button>
    <button id="scale" class="c_btn_item">Scale</button>
  </div>
  <script>
    import '../../ts/t01.ts';
  </script>
</Layout>
