@use 'sass:math';
@use '../setting' as *;

@function get_lh($fz, $lh) {
  @return math.div($lh, $fz);
}

@mixin lh($fz, $lh) {
  line-height: math.div($lh, $fz);
}

@mixin lineHeightCrop($fz, $lh) {
  &::before,
  &::after {
    display: block;
    width: 0;
    height: 0;
    content: '';
  }
  &::before {
    margin-top: calc((1 - #{math.div($lh, $fz)}) * 0.5em);
  }
  &::after {
    margin-bottom: calc((1 - #{math.div($lh, $fz)}) * 0.5em);
  }
}
