---
import Layout from "@layouts/Layout.astro";
---

<Layout pageId="t04">
  <div id="webgl"></div>
  <p class="c_slidenum">
    <span class="c_slidenum_current">1</span>/<span class="c_slidenum_total"
      >10</span
    >
  </p>
  <script>
    import "../../ts/t04.ts";
  </script>
</Layout>
